# Python-and IDE-related
*.idea
*.vscode
*__pycache__
*ipynb_checkpoints

# Packaging
build
dist
*.egg
*.egg-info

# Data and scripts
amiris/
*amiris-jar-with-dependencies*
data/
emlabpy/logs
test.py
test2.py