# Python-and IDE-related
*.idea
*.vscode
**/__pycache__
*.pyc
*ipynb_checkpoints
.spinetoolbox/items/amiris_future
# Packaging
build
dist
*.egg
*.egg-info

# Data and scripts
*.log
*.h5f
*.pb
logs/
amiris/
*amiris-jar-with-dependencies*
data/powerplantsGermany/
amiris_workflow/amiris-config/data
amiris_workflow/amiris
amiris_workflow/amiris-config/scenario.yaml
data/competes/
emlabpy/logs
test.py
test2.py
scripts/amiris-jar-with-dependencies2.jar
scripts/amiris-jar-with-dependencies.jar