# Python-and IDE-related
*.idea
*.vscode
**/__pycache__
*.pyc
*ipynb_checkpoints
.spinetoolbox/items/amiris_future
.spinetoolbox/items/emlabdb/EmlabDB.sqlite
.spinetoolbox/items/amiris_db/AMIRIS db.sqlite
.spinetoolbox/items/next_year/output/*
.spinetoolbox/items/invest/output/*
# Packaging
build
dist
*.egg
*.egg-info

# Data and scripts
*.log
*.h5f
*.pb
logs/
amiris/
*amiris-jar-with-dependencies*
data/powerplantsGermany/
amiris_workflow/amiris-config/data
amiris_workflow/amiris
amiris_workflow/amiris-config/scenario.yaml
amiris_workflow/output/amiris_results.csv
amiris_workflow/amiris_data_structure.xlsx
data/competes/
data/sources/other/

test.py
test2.py
scripts/amiris-jar-with-dependencies2.jar
scripts/amiris-jar-with-dependencies.jar
emlabpy/plots/Scenarios/
emlabpy/logs


